
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCategory</title>
</head>
<body>
    <div> 
        <h1>Kategori Ekleme</h1>
        <form class="form-group" method="post">
            <input type="text" placeholder="Kategori adı" name="CategoryName" class="form-control"/>
            <input type="text" placeholder="Kategori Açıklaması" name="CategoryDescription" class="form-control"/>
            <button class="btn btn-danger">Ekle</button>
        </form>
    </div>
</body>
</html>
