
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Kategori Yönetimi</h1>
        <br />
        <table>
            <tr>
            <thead>ID</thead>
            <thead>Adı</thead>
            <thead>Açıklama</thead>
            <thead>Durum</thead>
            </tr>
        </table>
    </div>
</body>
</html>
